.btn-primary {
  border: 2px solid #3b3b3b;
  padding: 15px 25px;
  color: #fff;
  border-radius: 50px;
  background-color: #3b3b3b;
}

.btn-primary:hover {
  background-color: #3b3b3b;
  border: 2px solid #03a9f4;
}

.btn-fab {
  padding: 15px 20px;
  border-radius: 50px;
  background-color: rgb(230, 18, 18);
  border: none !important;
}
.btn-fab:hover,
.btn-fab:active {
  background-color: rgb(194, 15, 15);
}
