.btn {
  border-radius: 0;
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.3);

  &:active {
    transform: translateY(2px);
    transition: transform 0.2s ease;
  }

  &.focus,
  &:focus {
    box-shadow: none !important;
  }
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: $background-light;
  border-color: $brand-primary;
}

.btn-primary {
  border: 2px solid $background-light;
  padding: 7px 20px;
  color: $text-lighter;
  background-color: $background-light;

  &:hover {
    background-color: $background-light;
    border-image: $gradient 10;
  }
}

.btn-dark {
  color: $text-light;
  background-color: $background-light;
}

.btn-fab {
  color: $text-lighter;
  padding: 15px 20px;
  border-radius: 50px;
  background-color: rgb(230, 18, 18);
  border: none !important;

  &:hover,
  &:active {
    color: $text-lighter !important;
    background-color: rgb(194, 15, 15);
  }
}

.btn-close {
  color: $text-light;
  background-color: transparent;
  box-shadow: none;
  &:hover {
    color: lightgray;
  }
}
