@font-face {
  font-family: "Digital-7";
  src: url("assets/fonts/digital-7.ttf");
}

.font-digital {
  font-family: "Digital-7";
  font-size: 35px;

  /* Fallback: Set a background color. */
  background-color: $brand-primary-gradient;

  /* Create the gradient. */
  background: $gradient;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Fix weird text clipping*/
  display: inline-block;
}
