input.form-control {
  color: $text-light;
  padding: 7px 15px;
  border-radius: 0;
  background-color: $background-light;
  border: 2px solid $background-light;

  &:focus {
    border-image: $gradient 10;
    background-color: $background-light;
    color: $text-light;
    box-shadow: none;
  }
}

label {
  margin-left: 15px;
}

.vdp-datepicker__calendar {
  width: 100% !important;
  background-color: $background-light !important;
  border: none !important;
  & > header > span.next::after {
    border-left: 10px solid $text-dark;
  }
  & > header > span.prev::after {
    border-right: 10px solid $text-dark;
  }
  &.cell:hover {
    border-image: $gradient 10;
  }
  & .cell.selected {
    background: $gradient 10;
    color: $text-dark;
  }
}
