@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

.slide-left-enter,
.slide-right-leave-active {
  animation: slide-right .3s ease;
}

.slide-left-enter-active,
.slide-right-enter {
  animation: slide-right .3s ease reverse;
}
