@keyframes enter {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-enter-active {
  animation: enter 0.3s ease;
}
.slide-leave-active {
  animation: enter 0.3s ease reverse;
}
